<table *ngIf="gefilterdeTijden && gefilterdeTijden.length > 0" class="table">
  <thead>
    <tr>
      <th>Tijd</th><th>Naar</th><th>Vervoerder</th><th>Materieel</th><th (click)="alleDruktes()">Drukte</th><th>Aantal reizigers</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let vertrektijd of gefilterdeTijden">
      <td>{{getVertrektijd(vertrektijd)}}</td>
      <td>{{vertrektijd.destination}}</td>
      <td>{{vertrektijd.company}} {{vertrektijd.transportType}}</td>
      <td>{{getMaterieel(vertrektijd)}}</td>
      <td (click)="getDrukte(vertrektijd)">{{vertrektijd.drukte}}</td>
      <td *ngIf="vertrektijd.aantalMensen">{{vertrektijd.aantalMensen | number }}</td>
    </tr>
  </tbody>
</table>
